<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Ürün ekle</h5></div>
            <div class="card-body">
                <form [formGroup]="productAddForm">
                    <div class="form-group">
                        <input type="text" 
                        id="productName" 
                        formControlName="productName" class="form-control" 
                        placeholder="Ürün adı"/>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    
</div>