<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Ürün ekle</h5></div>
            <div class="card-body">
                <form [formGroup]="productAddForm">
                    <div class="mb-3">
                        <label for="productName">Ürün adı</label>
                        <div class="form-group">
                            <input type="text" 
                            id="productName" 
                            formControlName="productName" class="form-control" 
                            placeholder="Ürün adı"/>
                        </div>
                    </div>
                   
                    <div class="mb-3">
                        <label for="categoryId">Kategori</label>
                        <div class="form-group">
                            <input type="number" 
                            id="categoryId" 
                            formControlName="categoryId" class="form-control" 
                            placeholder="Kategori"/>
                        </div>
                    </div>
                   <div class="mb-3">
                    <label for="unitsInStock">Stok Adedi</label>
                    <div class="form-group">
                        <input type="number" 
                        id="unitsInStock" 
                        formControlName="unitsInStock" class="form-control" 
                        placeholder="Stok adedi"/>
                    </div>
                   </div>
                    <div  class="mb-3">
                        <label for="unitPrice">Birim Fiyatı</label>
                        <div class="form-group">
                            <input type="number" 
                            id="unitPrice" 
                            formControlName="unitPrice" class="form-control" 
                            placeholder="Fiyatı"/>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
            </div>
        </div>
        
    </div>
    
</div>